
.contact-tile img {
  height: 30px;
  width: auto;
  margin: auto 15px;
}

.contact-tile a {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  color: white;
}

@media (max-width: 815px) {
  .contact-tile img {
    margin: auto;
  }
}
