#resume {
  background-color: black;
}

.resume-container {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  opacity: .5;
  width: 500px;
  max-width: 80%;
  height: auto;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 3% 8%;
  display: grid;
  grid-template: "education education-details  education-details  education-details"
                 "work work-details work-details work-details"
                 "stack stack-1 stack-2 stack-3"
                 "skills skills-details skills-details skills-details";
}

.resume-container p {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
}


.education {
  grid-area: education;
}

.education-details {
  grid-area: education-details;
}

.work {
  grid-area: work;
}

.work-details {
  grid-area: work-details;
}

.stack {
  grid-area: stack;
}

.stack-1 {
  grid-area: stack-1;

}

.stack-2 {
  grid-area: stack-2;

}

.stack-3 {
  grid-area: stack-3;

}

.stack-1, .stack-2, .stack-3 {
  margin-top: 0;
  padding-top: 0;
  text-decoration: none;
  list-style: none;
}

.stack-1 p, .stack-2 p, .stack-3 p {
  /* padding-right: 5px; */
}


.skills {
  grid-area: skills;
}

.skills-details {
  grid-area: skills-details;
}

.education, .work, .stack, .skills {
  text-align: right;
}

.education-details, .work-details, .skills-details {
  padding-left: 40px;
  text-align: left;
}

#resume img {
  margin: 0;
  height: 20px;
  width: auto;
  padding: 0;
}
